{% extends "layouts/master.html" %}

{% block title %}Add a new Deduction Component Group{% endblock %}

{% block content %}
<div class='container'>
    <div class='row justify-content-md-center'>
        <div class="col-md-12">
            <div class='card'>
                <div class="card-header secondary">
                    <h2>Deduction Component Group Description</h2>
                    <p>Deduction Component Group name and address.</p>
                </div>
                <div class="card-block">
                    <form method="POST" novalidate>
                        {% csrf_token %}

                        {% include 'payroll/master/deduction/deduction_group/form.html' %}

                        <div class="form-group w-100 text-right">
                            <a class="btn btn-main b-none" href="{% url 'beehive_admin:payroll:deduction_group_list' %}">Cancel</a>
                            <button type="submit" class="btn btn-main">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
