{% extends "layouts/master.html" %}

{% block title %}Payroll > Salary Adjustment > Delete{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input type="submit" value="Confirm" class="btn btn-danger"/>
            <a class="btn btn-main" href="{% url "beehive_admin:payroll:salary_adjustment_list" %}">Back</a>
        </form>
    </div>
{% endblock %}
