{% extends "layouts/master.html" %}

{% block title %}Payroll > Held Up> List{% endblock %}
{% block content %}
{% include 'layouts/event.html' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-right">
                        <a href="{% url 'beehive_admin:payroll:held_up_create' %}" class="btn btn-main">Add New</a>
                    </p>
                    <table class="table table-bordered">
                        <thead>
                            <th>Employee Name</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </thead>
                        {% for obj in object_list %}
                        <tr>
                            <td>{{ obj.employee }}</td>
                            <td>{{ obj.from_date }}</td>
                            <td>{{ obj.to_date }}</td>
                            <td>{{ obj.remarks }}</td>
                            <td>
                                <a href="{% url 'beehive_admin:payroll:held_up_update' obj.pk %}">Update</a>
                                <a href="{% url 'beehive_admin:payroll:held_up_delete' obj.pk %}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
