.error-wrapper {
  margin: 60px auto;
  text-align: center;

  .wrap-img {
    margin-bottom: 30px;
  }

  .error-text {
    h2 {
      font-size: 1.5rem;
      color: #444;
      padding-bottom: 0;
    }

    p {
      font-size: 1rem;
      color: #444;
    }

    .btn-home {
    padding: 7px 20px;
    background: $deep-green;
    color: #fff;
    transition: all 0.3s ease-in;
      margin-top: .75rem;

    &:hover {
      background: $leaf;
    }
  }

    i {
      padding-right: 10px;
    }
  }
}
