<div class="row">
    <div class="col-md-6">
        <div class="form-group w-100">
            <label for="{{ form.item.id_for_label }}">{{ form.item.label }}</label>
            <select name="{{ form.item.name }}" id="{{ form.item.id_for_label }}" class="form-control{% if form.item.errors %} is-invalid{% endif %}" required>
                {% if form.item.value %}
                {% for choice in form.item.field.choices %}
                {% if form.item.value == choice.0 %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endif %}
                {% endfor %}
                {% else %}
                {% for choice in form.item.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
                {% endif %}
            </select>

            {% if form.item.errors %}
            {% for error in form.item.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group w-100">
            <label for="{{ form.parent_item.id_for_label }}">{{ form.parent_item.label }}</label>
            <select name="{{ form.parent_item.name }}" id="{{ form.parent_item.id_for_label }}" class="form-control{% if form.parent_item.errors %} is-invalid{% endif %}" required>
                {% if form.parent_item.value %}
                {% for choice in form.parent_item.field.choices %}
                {% if form.parent_item.value == choice.0 %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endif %}
                {% endfor %}
                {% else %}
                {% for choice in form.parent_item.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
                {% endif %}
            </select>

            {% if form.parent_item.errors %}
            {% for error in form.parent_item.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
