{% load index %}
<div class="row">
    <div class="col-md-12">
        <input type="hidden" name="{{ form.attendance.name }}" value="{{ form.attendance.value|default_if_none:'' }}">
        {% if form.attendance.errors %}
            {% for error in form.attendance.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <div class="col-md-12">
                <input type="hidden" name="query_id" value="{{ employee }}">
                <label for="{{ form.entry_date.id_for_label }}">{{ form.entry_date.label }}<span>*</span></label>
                <input type="date" name="{{ form.entry_date.name }}" id="{{ form.entry_date.id_for_label }}" class="form-control{% if form.entry_date.errors %} is-invalid{% endif %}" value="{% if form.entry_date.value|get_date_type == 'str' %}{{ form.entry_date.value }}{% else %}{{ form.entry_date.value|date:'Y-m-d' }}{% endif %}">

                {% if form.entry_date.errors %}
                {% for error in form.entry_date.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="{{ form.early_out_time.id_for_label }}">{{ form.early_out_time.label }}<span>*</span></label>
                <input type="text" name="{{ form.early_out_time.name }}" id="{{ form.early_out_time.id_for_label }}" class="datetimepicker form-control{% if form.early_out_time.errors %} is-invalid{% endif %}" value="{% if form.early_out_time.value|get_time_type == 'str' %}{{ form.early_out_time.value }}{% else %}{{ form.early_out_time.value|date:'h:i A' }}{% endif %}">

                {% if form.early_out_time.errors %}
                    {% for error in form.early_out_time.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6 w-100">
        <div class="form-group row">
            <div class="col-md-12">
                <label for="{{ form.reason_of_early_out.id_for_label }}">{{ form.reason_of_early_out.label }}<span>*</span></label>
                <textarea type="text" name="{{ form.reason_of_early_out.name }}" id="{{ form.reason_of_early_out.id_for_label }}" class="form-control{% if form.reason_of_early_out.errors %} is-invalid{% endif %}" placeholder="Ex: Lorem Ipsum">{{ form.reason_of_early_out.value|default_if_none:'' }}</textarea>

                {% if form.reason_of_early_out.errors %}
                {% for error in form.reason_of_early_out.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class='form-group w-100'>
            <label for="id_{{ form.attachment.name }}">{{ form.attachment.label }}</label>
            {% if form.attachment.value %}
            <div class="float-lg-left">
                <p>{{ form.attachment.value.url }}</p>
            </div>
            <div class="float-lg-right">
                <a href="{{ form.attachment.value.url }}">View</a>
                <input id="attachment-clear_id" name="attachment-clear" type="checkbox" style="display: inline-block;">
                <label for="attachment-clear_id" style="display: inline-block;">Clear</label>
            </div>
            <br>Change:
            {% endif %}
            <input type="file" id="id_{{ form.attachment.name }}" name="{{ form.attachment.name }}" class="form-control{% if form.attachment.errors %} is-invalid{% endif %}" accept="image/*,.xlsx, .xls, .doc, .docx, .txt, .pdf">
            <p>File format: jpg, pdf, docx, ppt, xlsx. Less than 5MB.</p>
            {% if form.attachment.errors %}
            {% for error in form.attachment.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
