{% extends "layouts/master.html" %}

{% block title %}Attendance > Late Entry > {% if edit == True %}Edit{% else %}New{% endif %}{% endblock %}
{% load staticfiles %}
{% block content %}
<div class='container'>
    {% include 'layouts/event.html' %}
    <div class='row justify-content-md-center'>
        <div class="col-md-12">
            <div class='card'>
                <div class="card-header secondary">
                    {% if edit == True %}<h2>Edit Late Entry</h2>{% else %}<h2>New Late Entry</h2>{% endif %}
                </div>
                <div class="card-block">
                    {% if edit != True %}
                    <form method="GET" action="" class="mw-initial">
                        <input type="search" name="query" class="form-control" placeholder="Search Employee by Name, ID." id='search' autocomplete="off">
                        <div id="search-result" class="search-result" style="display: none">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul id="search_employee" class="search_employee"></ul>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% if error %}
                    <p>{{ error }}</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if info %}
            <div class='card mt-3'>
                <div class="card-block border-1">
                    <div class="row">
                        <div class="col-6" style="border-right: 1px solid #ccc;">
                            <div class="employee-wrap d-flex p-4">
                                <img class="comment-img" src="{% static 'img/user1.jpg' %}" alt="">
                                <div>
                                    <h2>{{ info.name }}</h2>
                                    <p>{{ info.designation|default_if_none:'' }}</p>
                                    <p>Employee ID: {{ info.employee_id }}</p>
                                    <p>Schedule Type: {{ info.schedule_type.get_schedule_type_display }}</p>
                                    <p>Company: {{ info.company|default_if_none:'' }}</p>
                                    <p>Division: {{ info.division|default_if_none:'' }}</p>
                                    <p>Department: {{ info.department|default_if_none:'' }}</p>
                                    <p>Business Unit: {{ info.business_unit|default_if_none:'' }}</p>
                                    <p>Project: {{ info.project|default_if_none:'' }}</p>
                                </div>

                            </div>
                        </div>
                        {% if late_list %}
                        <div class="col-6 p-4">
                            <table class="table table-hover" id="datatable">
                                <thead>
                                    <tr class="selectable">
                                        <th scope="col">No. of late applied</th>
                                        <td>{{ late_list.applied }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="col">Approved</th>
                                        <td>{{ late_list.approved }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Declined</th>
                                        <td>{{ late_list.declined }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Pending</th>
                                        <td>{{ late_list.pending }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endif %}
            {% if late_apply %}
            <div class='card mt-3'>
                <div class="card-header secondary">
                    <h2>Last Late Entry Applied</h2>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-hover" id="datatable">
                            <thead>
                                <tr class="selectable">
                                    <th scope="col">Applied For (Date & Time)</th>
                                    <th scope="col">Late Duration</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ late_apply.last.attendance.date|date:'d/m/Y' }} {{ late_apply.last.attendance.in_time|date:'h:i A' }}</td>
                                    <td>{{ late_duration }}</td>
                                    <td>{{ late_apply.last.get_status_display }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer secondary text-right">
                    <a href="{% url 'beehive_admin:attendance:late_entry_individual_list' late_apply.last.attendance.employee.id %}">Show
                        All Late History</a>
                </div>
            </div>
            {% endif %}
            {% if form %}
            <div class='card'>
                <div class="card-header secondary">
                    <h2>Apply for a Late Recovery</h2>
                </div>
                <div class="card-block">
                    <form method="POST" class="mw-initial" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'attendance/process/late_entry/form.html' %}
                        <div class="form-group w-100 text-right mt-5">
                            <a class="btn btn-main b-none" href="{% url 'beehive_admin:attendance:late_entry_application_list' %}">Cancel</a>
                            <button type="submit" class="btn btn-main mr-2" name="apply">Apply</button>
                            {% if request.user.is_superuser or request.user.management %}
                            <button type="submit" class="btn btn-main mr-2" name="apply_approve">Apply and Approve
                            </button>
                            <button type="submit" class="btn btn-main b-none" name="apply_deny">Apply and Deny
                            </button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        function get_time(query, date) {
            $.ajax({
                type: "GET",
                url: "{% url 'beehive_admin:attendance:get_entry_time' %}",
                dataType: "json",
                data: {
                    query: query,
                    'date': date
                },
                success: function (result) {
                    $("input[name='entry_time']").val(result.in_time);
                    $("input[name='attendance']").val(result.attendance_id);
                }
            });
        }

        $("input[type='date']").on('change', function () {
            get_time($("input[name='query_id']").val(), $(this).val());
        });
    });

</script>
{% endblock %}
