{% extends "layouts/master.html" %}

{% block title %}Attendance > Late Entry > Details{% endblock %}

{% block content %}
<div class='container'>
    {% include 'layouts/event.html' %}
    <div class='row justify-content-md-center'>
        <div class="col-md-12">
            <div class='card'>
                <div class="card-header secondary">
                    <h2>Details of Late Entry</h2>
                </div>
            </div>
            {% if info %}
            <div class='card'>
                <div class="card-block border-1">
                    <div class="row">
                        <div class="col-6" style="border-right: 1px solid #ccc;">
                            <div class="employee-wrap p-4">
                                <h2>{{ info.name }}</h2>
                                <p>{{ info.designation|default_if_none:'' }}</p>
                                <p>Employee ID: {{ info.employee_id }}</p>
                                <p>Schedule Type: {{ info.schedule_type.get_schedule_type_display }}</p>
                                <p>Company: {{ info.company|default_if_none:'' }}</p>
                                <p>Division: {{ info.division|default_if_none:'' }}</p>
                                <p>Department: {{ info.department|default_if_none:'' }}</p>
                                <p>Business Unit: {{ info.business_unit|default_if_none:'' }}</p>
                                <p>Project: {{ info.project|default_if_none:'' }}</p>
                            </div>
                        </div>
                        {% if late_list %}
                        <div class="col-6">
                            <table class="table table-hover" id="datatable">
                                <thead>
                                    <tr class="selectable">
                                        <th scope="col">No. of late applied</th>
                                        <td>{{ late_list.applied }}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="col">Approved</th>
                                        <td>{{ late_list.approved }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Declined</th>
                                        <td>{{ late_list.declined }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Pending</th>
                                        <td>{{ late_list.pending }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endif %}
            {% if late_apply %}
            <div class='card'>
                <div class="card-header secondary">
                    <h2>Last Late Entry Applied</h2>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-hover" id="datatable">
                            <thead>
                                <tr class="selectable">
                                    <th scope="col">Application Date & Time</th>
                                    <th scope="col">Entry Time</th>
                                    <th scope="col">Late Duration</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ late_apply.last.created_at|date:'d/m/Y h:i A' }}</td>
                                    <td>{{ late_apply.last.attendance.in_time|date:'h:i A' }}</td>
                                    <td>{{ late_duration }}</td>
                                    <td>{{ late_apply.last.get_status_display }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer secondary">
                    <a href="{% url 'beehive_admin:attendance:late_entry_individual_list' late_apply.last.attendance.employee.id %}">Show
                        All Late History</a>
                </div>
            </div>
            {% endif %}
            <div class='card'>
                <div class="card-header secondary">
                    <h2>Late Recovery Details</h2>
                </div>
                <div class="card-block">
                    {% if late_info %}
                        <div>
                            <p>Entry Date : {{ late_info.date|date:'M d, Y' }}</p>
                            <p>Entry Time : {{ late_info.in_time|date:'h:i A' }}</p>
                            <p>Late Duration : {{ late_info.late_duration }} </p>
                            <p>Application Date & Time : {{ late_info.created_at|date:'M d, Y h:i A' }}</p>
                            <p>Reason of Late : {{ late_info.reason }}</p>
                            {% if late_info.attachment %}
                                <p>Attachment : {{ late_info.attachment }} <a href="{{ late_info.attachment_url }}">View</a></p>
                            {% endif %}
                            <p>Status : {{ late_info.status }}</p>
                        </div>
                    {% endif %}
                    <br>
                    {% if comment %}
                        <h2>Comments:</h2>
                        {% for obj in comment %}
                            <h3>{{ obj.user }}, {{ obj.user.user_job_information.latest.designation.name|default_if_none:'' }}, {{ obj.created_at }} </h3>
                            <p>{{ obj.comment }}</p>
                            <hr>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card-footer"> <a class="btn btn-main" href="{% url 'beehive_admin:attendance:late_entry_application_list' %}">Go Back</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
