{% extends "layouts/master.html" %}

{% block title %}Update leave creation{% endblock %}

{% block content %}
<div class='container'>
    <div class='row justify-content-md-center'>
        <div class="col-md-12">
            <div class='card'>
                <div class="card-header secondary">
                    <p>Leave Master</p>
                    <h2>Leave creation update</h2>
                </div>
                <div class="card-block">
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        {% include 'leave/master/leave_creation/form.html' %}
                        <div class="form-group w-100 text-right">
                            <a class="btn btn-main b-none"
                                   href="{% url 'beehive_admin:leave:leave_master_list' %}">Cancel</a>
                            <button type="submit" class="btn btn-main" name="form1">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
