{% extends "layouts/master.html" %}

{% block title %}Under Work Deduction Component Settings{% endblock %}

{% block content %}
    {% include 'layouts/event.html' %}

    <div class="row justify-content-center">
        <div class="col-md-12">
            {% if request.user.is_superuser or 'add_underworkslab' in permissions %}
                <div class="text-right">
                    <a href="{% url 'beehive_admin:payroll:under_work_slab_create' component.id %}" class="btn btn-main m-0">+
                        Add a new Slab
                    </a>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-header secondary card-box">
                    <div class="card-title">
                        <h2>All Under Work Slab</h2>
                        <p>View all Under Work slabs, edit or delete</p>
                    </div>
                </div>

                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover" id="datatable">
                                    <thead>
                                        <tr class="selectable">
                                            <th scope="col">Under Work Time</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for slab in slabs %}
                                            <tr>
                                                <td>{{ slab.time }} {{ slab.unit }}</td>
                                                <td>{{ slab.status|title }}</td>
                                                <td>
                                                    {% if request.user.is_superuser or 'change_underworkslab' in permissions %}
                                                    <a title="edit" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--outline" href="{% url 'beehive_admin:payroll:under_work_slab_update' component.id slab.id %}">
                                                        <i class="la la-edit"></i>
                                                    </a>
                                                    {% endif %}

                                                    {% if request.user.is_superuser or 'delete_underworkslab' in permissions %}
                                                    <div class="modal fade" id="confirmDeleteModal{{ slab.id }}"
                                                         tabindex="-1" role="dialog"
                                                         aria-labelledby="confirmDeleteModalLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <form action="{% url 'beehive_admin:payroll:under_work_slab_delete' component.id slab.id %}" method="POST">
                                                                {% csrf_token %}
                                                                <div class="modal-content">
                                                                    <div class="modal-body confirm-delete">
                                                                        Are you sure you want to delete {{ slab }}?
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">
                                                                            Cancel
                                                                        </button>
                                                                        <input type="submit" class="btn btn-danger"
                                                                               value="Delete"
                                                                               name="delete">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <a href="javascript:void(0)"
                                                       title="delete"
                                                       class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--outline"
                                                       data-toggle="modal"
                                                       data-target="#confirmDeleteModal{{ slab.id }}"
                                                       id="deleteButton{{ slab.id }}">
                                                        <i class="la la-times-circle-o"></i>
                                                    </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                {% if slabs.paginator.num_pages > 1 %}
                    <nav aria-label="navigation" class="margin-lg margin-md">
                            <ul class="pagination d-flex justify-content-center">
                                {% if slabs.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ slabs.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}

                                {% for pg in page_range %}
                                    <li class="page-item">
                                        <a class="page-link {% if pg == slabs.number %}active{% endif %}" href="?page={{ pg }}">{{ pg }} {{ slabs.current_page_number }}</a>
                                    </li>
                                {% endfor %}

                                {% if slabs.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ slabs.next_page_number }}">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
