{% extends "layouts/master.html" %}

{% block title %}Skill | Training | Language{% endblock %}

{% block content %}
{% include 'employees/master/layouts/sidebar.html' %}
<div class='container'>
    {% include 'layouts/event.html' %}
    <div class='row justify-content-md-center'>
        <div class="col-md-12">
            <div class='card'>
                <div class="card-header secondary">
                    <p>Employee Master</p>
                    <h2>Language and Skill</h2>
                </div>
                <div class="card-block">
                    <div class="card-header secondary border-0">
                        <h2>Skill</h2>
                    </div>
                    <form method="POST" class="mw-initial" novalidate>
                        {% csrf_token %}
                        {% include 'employees/master/skill/skill_form.html' %}
                        <div class="form-group w-100 text-right mt-5">
                            <button type='reset' class="btn btn-main b-none">Cancel</button>
                            <button type="submit" class="btn btn-main" name="form1">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class='card'>
                <div class="card-header secondary">
                    <h2>Training</h2>
                </div>
                <div class="card-block">
                    <form method="POST" class="mw-initial" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'employees/master/skill/training_form.html' %}
                        <div class="form-group w-100 text-right mt-5">
                            <button type='reset' class="btn btn-main b-none">Cancel</button>
                            <button type="submit" class="btn btn-main" name="form2">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class='card'>
                <div class="card-header secondary">
                    <h2>Professional Certificate</h2>
                </div>
                <div class="card-block">
                    <form method="POST" class="mw-initial" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'employees/master/skill/professional_certificate_form.html' %}
                        <div class="form-group w-100 text-right mt-5">
                            <button type='reset' class="btn btn-main b-none">Cancel</button>
                            <button type="submit" class="btn btn-main" name="form3">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class='card'>
                <div class="card-header secondary">
                    <h2>Language Proficiency</h2>
                </div>
                <div class="card-block">
                    <form method="POST" class="mw-initial" novalidate>
                        {% csrf_token %}
                        {% include 'employees/master/skill/language_proficiency.html' %}
                        <div class="form-group w-100 text-right mt-5">
                            <button type='reset' class="btn btn-main b-none">Cancel</button>
                            <button type="submit" class="btn btn-main" name="form4">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
