{% extends "layouts/master.html" %}

{% block title %}Employee Salary Structure Create{% endblock %}

{% block content %}
{% include 'employees/master/layouts/sidebar.html' %}
<div class='container'>
    {% include 'layouts/event.html' %}
    <div class='row justify-content-md-center'>
        <div class="col-md-12">
            <div class='card'>
                <div class="card-header secondary">
                    <p>Employee Master</p>
                    <h2>Salary</h2>
                </div>
                <div class="card-block">
                    <div class="card-header border-0 secondary">
                        <h2>Payment</h2>
                    </div>
                    <form method="POST" class="mw-initial" novalidate>
                        {% csrf_token %}
                        {% include 'employees/master/salary/payment_form.html' %}
                        <div class="form-group w-100 text-right">
                            <button type='reset' class="btn btn-main b-none">Cancel</button>
                            <button type="submit" class="btn btn-main pull-right" name="form1">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class='card'>
                <div class="card-header secondary">
                    <h2>Salary Structure</h2>
                </div>
                <div class="card-block">
                    <form method="POST" class="mw-initial" novalidate>
                        {% csrf_token %}
                        {% include 'employees/master/salary/salary_form.html' %}
                        <div class="form-group w-100 text-right mt-5">
                            <button type='reset' class="btn btn-main b-none">Cancel</button>
                            <input type="hidden" name="salary_structure_id" value="{{ salary_form.instance.id }}">
                            <button type="submit" class="btn btn-main b-none" name="form3">Modify</button>
                            <button type="submit" class="btn btn-main" name="form2">Save</button>
                        </div>
                    </form>
                    {% if salary_info %}
                    <div>
                        <p><a class="reset-password btn btn-more p-0" href="{% url 'employees:employee_salary_list' pk %}">Show Salary History</a></p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $("[name='salary_group']").on('change', function () {
            var salary_group = $(this).val();
            $.ajax({
                url: ".",
                data: {
                    'salary_group': salary_group
                },
                success: function (result) {
                    $('.component').html(result);
                }
            });
        });
    });

</script>
{% endblock %}
