{% extends "layouts/master.html" %}

{% block title %}Salary > List{% endblock %}

{% block content %}
<div class="container">
    {% include 'employees/master/layouts/sidebar.html' %}
    {% include 'layouts/event.html' %}

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header secondary card-box">
                    <div class="card-title">
                        <h2>Salary History</h2>
                    </div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover" id="datatable">
                                    <thead>
                                        <tr class="selectable">
                                            <th scope="col">Effective Date</th>
                                            <th scope="col">Gross (BDT)</th>
                                            <th scope="col">Pay Schedule</th>
                                            <th scope="col">Change Reason</th>
                                            <th scope="col">Salary Group</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in salary_list %}
                                        <tr>
                                            <td>{{ obj.from_date }} - {{ obj.to_date }}</td>
                                            <td>{{ obj.gross }}</td>
                                            <td>{{ obj.pay_schedule }}</td>
                                            <td>{{ obj.change_reason }}</td>
                                            <td>{{ obj.salary_group.name }}</td>
                                            <td>
                                                {% if request.user.is_superuser or 'change_schedulemaster' in permissions %}
                                                <a title="edit" class="btn btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--outline" href="{% url 'employees:employee_salary_structure_edit' obj.employee_id obj.salary_structure_id %}">
                                                    <i class="la la-edit"></i>
                                                </a>
                                                {% endif %}
                                                {% if request.user.is_superuser or 'delete_schedulemaster' in permissions %}
                                                    <div class="modal fade" id="confirmDeleteModal{{ obj.salary_structure_id }}"
                                                             tabindex="-1" role="dialog"
                                                             aria-labelledby="confirmDeleteModalLabel"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <form
                                                                    action="{% url 'employees:employee_salary_structure_delete' obj.employee_id obj.salary_structure_id %}"
                                                                    method="POST">
                                                                    {% csrf_token %}
                                                                    <div class="modal-content">
                                                                        <div class="modal-body confirm-delete">
                                                                            Are you sure you want to delete
                                                                            "{{ obj.salary_group.name }}"?
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                    class="btn btn-secondary"
                                                                                    data-dismiss="modal">
                                                                                Cancel
                                                                            </button>
                                                                            <input type="submit" class="btn btn-danger"
                                                                                   value="Delete"
                                                                                   name="delete">
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <a href="javascript:void(0)"
                                                           title="delete"
                                                           class="btn btn-outline-danger m-btn m-btn--icon m-btn--icon-only m-btn--outline"
                                                           data-toggle="modal"
                                                           data-target="#confirmDeleteModal{{ obj.salary_structure_id }}"
                                                           id="deleteButton{{ obj.salary_structure_id }}">
                                                            <i class="la la-times-circle-o"></i>
                                                        </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                {% if salary_list.paginator.num_pages > 1 %}
                    <nav aria-label="navigation" class="margin-lg margin-md">
                        <ul class="pagination d-flex justify-content-center">
                            {% if salary_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ salary_list.previous_page_number }}">Previous</a>
                                </li>
                            {% endif %}

                            {% for pg in page_range %}
                                <li class="page-item">
                                    <a class="page-link {% if pg == salary_list.number %}active{% endif %}" href="?page={{ pg }}">{{ pg }} {{ salary_list.current_page_number }}</a>
                                </li>
                            {% endfor %}

                            {% if salary_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ salary_list.next_page_number }}">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}

                <a class="btn btn-main" href="{% url 'employees:employee_salary_create' pk %}">Go Back</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
