{% extends "layouts/master.html" %}

{% block title %}Delete a company{% endblock %}

{% block content %}
    <div class='container'>
        <div class='row justify-content-md-center'>
            <div class="col-md-10 col-md-offset-1">
                <div class='card'>
                    <div class="card-header secondary">
                        <h2>Delete company</h2>
                        <p>Confirm delete company</p>
                    </div>
                    <div class="card-block">
                        <form method="post">
                            {% csrf_token %}
                            {% if not object.mother_company %}
                                <p>Are you sure you want to delete "{{ object }}"?</p>
                                <input type="submit" value="Yes, I am sure" class='btn btn-main b-none'>
                                <a class="btn btn-main" href="{% url 'beehive_admin:setting:company_list' %}">No, take me back</a>
                            {% else %}
                                <p>You cannot delete mother company - "{{ object }}"?</p>
                                <a class="btn btn-main" href="{% url 'beehive_admin:setting:company_list' %}">Back</a>
                            {% endif %}


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
