{% load static %}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ general_form.name.id_for_label }}">{{ general_form.name.label }}</label>
            <input type="text" name="{{ general_form.name.name }}" id="{{ general_form.name.id_for_label }}" class="form-control{% if general_form.name.errors %} is-invalid{% endif %}" value="{{ general_form.name.value|default:'' }}" maxlength="255" required>

            {% if general_form.name.errors %}
            {% for error in general_form.name.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="{{ general_form.code.id_for_label }}">{{ general_form.code.label }}</label>
            <input type="text" name="{{ general_form.code.name }}" id="{{ general_form.code.id_for_label }}" class="form-control{% if general_form.code.errors %} is-invalid{% endif %}" value="{{ general_form.code.value|default:'' }}" maxlength="20" required>

            {% if general_form.code.errors %}
            {% for error in general_form.code.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group w-100">
            <label for="{{ general_form.logo.id_for_label }}">{{ general_form.logo.label }}</label>
            {% if general_form.logo.value %}
            <img class="img-box" src="{{ general_form.logo.value.url }}" width="90px" height="90px" />
            {% endif %}
            <input type="file" name="{{ general_form.logo.html_name }}"
                     class="form-control{% if general_form.logo.errors %} is-invalid{% endif %}" id="{{ general_form.logo.id_for_label }}"
                     accept="image/*,.xlsx, .xls, .doc, .docx, .txt, .pdf"
                     onchange="document.getElementById('image').src = window.URL.createObjectURL(this.files[0]),document.getElementById('image').style.display = 'block'">

            {% if general_form.logo.errors %}
            {% for error in general_form.logo.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    {% if parent_item == 'company' %}
    <div class="col-md-6">
        <div class="form-group w-100">
            <label for="{{ general_form.company.id_for_label }}">{{ general_form.company.label }}</label>
            <select name="{{ general_form.company.name }}" id="{{ general_form.company.id_for_label }}" class="form-control{% if general_form.company.errors %} is-invalid{% endif %}">
                {% if general_form.company.value %}
                {% for choice in general_form.company.field.choices %}
                {% if general_form.company.value == choice.0 %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                {% if general_form.company.value == choice.0|stringformat:"i" %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% else %}
                {% for choice in general_form.company.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
                {% endif %}
            </select>

            {% if general_form.company.errors %}
            {% for error in general_form.company.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if parent_item == 'business-unit' %}
    <div class="col-md-6">
        <div class="form-group w-100">
            <label for="{{ general_form.business_unit.id_for_label }}">{{ general_form.business_unit.label }}</label>
            <select name="{{ general_form.business_unit.name }}" id="{{ general_form.business_unit.id_for_label }}" class="form-control{% if general_form.business_unit.errors %} is-invalid{% endif %}">
                {% if general_form.business_unit.value %}
                {% for choice in general_form.business_unit.field.choices %}
                {% if general_form.business_unit.value == choice.0 %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                {% if general_form.business_unit.value == choice.0|stringformat:"i" %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% else %}
                {% for choice in general_form.business_unit.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
                {% endif %}
            </select>

            {% if general_form.business_unit.errors %}
            {% for error in general_form.business_unit.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if parent_item == 'branch' %}
    <div class="col-md-6">
        <div class="form-group w-100">
            <label for="{{ general_form.branch.id_for_label }}">{{ general_form.branch.label }}</label>
            <select name="{{ general_form.branch.name }}" id="{{ general_form.branch.id_for_label }}" class="form-control{% if general_form.branch.errors %} is-invalid{% endif %}">
                {% if general_form.branch.value %}
                {% for choice in general_form.branch.field.choices %}
                {% if general_form.branch.value == choice.0 %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                {% if general_form.branch.value == choice.0|stringformat:"i" %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% else %}
                {% for choice in general_form.branch.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
                {% endif %}
            </select>

            {% if general_form.branch.errors %}
            {% for error in general_form.branch.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if parent_item == 'division' %}
    <div class="col-md-6">
        <div class="form-group w-100">
            <label for="{{ general_form.division.id_for_label }}">{{ general_form.division.label }}</label>
            <select name="{{ general_form.division.name }}" id="{{ general_form.division.id_for_label }}" class="form-control{% if general_form.division.errors %} is-invalid{% endif %}">
                {% if general_form.division.value %}
                {% for choice in general_form.division.field.choices %}
                {% if general_form.division.value == choice.0 %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                {% if general_form.division.value == choice.0|stringformat:"i" %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% else %}
                {% for choice in general_form.division.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
                {% endif %}
            </select>

            {% if general_form.division.errors %}
            {% for error in general_form.division.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if parent_item == 'department' %}
    <div class="col-md-6">
        <div class="form-group w-100">
            <label for="{{ general_form.department.id_for_label }}">{{ general_form.department.label }}</label>
            <select name="{{ general_form.department.name }}" id="{{ general_form.department.id_for_label }}" class="form-control{% if general_form.department.errors %} is-invalid{% endif %}">
                {% if general_form.department.value %}
                {% for choice in general_form.department.field.choices %}
                {% if general_form.department.value == choice.0 %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                {% if general_form.department.value == choice.0|stringformat:"i" %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% else %}
                {% for choice in general_form.department.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
                {% endif %}
            </select>

            {% if general_form.department.errors %}
            {% for error in general_form.department.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="col-md-6">
        <div class="form-group calendar">
        <i class="m-menu__link-icon flaticon-calendar-1"></i>
            <label for="{{ general_form.division_start_date.id_for_label }}">{{ general_form.division_start_date.label }}</label>
            <input type="date" name="{{ general_form.division_start_date.name }}" class="form-control{% if general_form.division_start_date.errors %} is-invalid{% endif %}" id="{{ general_form.division_start_date.id_for_label }}" value="{{ general_form.division_start_date.value|default_if_none:'' }}">
            {% if general_form.division_start_date.errors %}
            {% for error in general_form.division_start_date.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group calendar">
        <i class="m-menu__link-icon flaticon-calendar-1"></i>
            <label for="{{ general_form.division_end_date.id_for_label }}">{{ general_form.division_end_date.label }}</label>
            <input type="date" name="{{ general_form.division_end_date.name }}" class="form-control{% if general_form.division_end_date.errors %} is-invalid{% endif %}" id="{{ general_form.division_end_date.id_for_label }}" value="{{ general_form.division_end_date.value|default_if_none:'' }}">
            {% if general_form.division_end_date.errors %}
            {% for error in general_form.division_end_date.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group w-100">
            <label for="{{ general_form.description.id_for_label }}">{{ general_form.description.label }}</label>
            <textarea name="{{ general_form.description.name }}" class="form-control{% if general_form.description.errors %} is-invalid{% endif %}" id="{{ general_form.description.id_for_label }}" cols="30" rows="10">{{ general_form.description.value|default_if_none:'' }}</textarea>

            {% if general_form.description.errors %}
            {% for error in general_form.description.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group w-100">
            <label for="{{ general_form.status.id_for_label }}">{{ general_form.status.label }}</label>
            <select name="{{ general_form.status.name }}" id="{{ general_form.status.id_for_label }}" class="form-control{% if general_form.status.errors %} is-invalid{% endif %}" required>
                {% if general_form.status.value %}
                {% for choice in general_form.status.field.choices %}
                {% if general_form.status.value == choice.0 %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endif %}
                {% endfor %}
                {% else %}
                {% for choice in general_form.status.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
                {% endif %}
            </select>

            {% if general_form.status.errors %}
            {% for error in general_form.status.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{#    <div class="col-md-12">#}
{#        <div class="form-group w-100 text-right">#}
{#            <a class="btn btn-main b-none" href="{% url 'beehive_admin:setting:branch_list' %}">Cancel</a>#}
{#            <a href="javascript:;" class="btn btn-main next-one">Next</a>#}
{#        </div>#}
{#    </div>#}
</div>
