{% extends "layouts/master.html" %}

{% block title %}Delete a branch{% endblock %}

{% block content %}
<div class='container'>
    <div class='row justify-content-md-center'>
        <div class="col-md-12">
            <div class='card'>
                <div class="card-header secondary">
                    <h2>Delete role</h2>
                    <p>Confirm delete role</p>
                </div>
                <div class="card-block">
                    <form method="post">
                        {% csrf_token %}

                        <p>Are you sure you want to delete "{{ object }}"?</p>
                        <input type="submit" value="Yes, I am sure" class='btn btn-main red'>
                        <a class="btn btn-main" href="{% url 'user_management:roles_list' %}">No, take me back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
