{% extends "layouts/master.html" %} {% block title %}Home{% endblock %}

{% load staticfiles %}

{% block style %}
<link href="{% static 'component/css/simple-calendar.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="dashboard">
    <div class='container'>
        <!-- BEGIN: Subheader -->
        <!-- <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">
                        Dashboard
                    </h3>
                </div>
                <div>
                    <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                        <span class="m-subheader__daterange-label">
                            <span class="m-subheader__daterange-title"></span>
                            <span class="m-subheader__daterange-date m--font-brand"></span>
                        </span>
                        <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                            <i class="la la-angle-down"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div> -->

        <!-- Middle panel-->
        <div class="row">
            <div class="col-md-7 content-section">
                {% include 'dashboard/partials/approvals.html' %}
            </div>
            <div class="col-md-5 content-section">
                <div class="card border-1">
                    <div class="card-header dash-header secondary dash-blue">
                        <div>
                            <p class="m-0">Payment (Salary) Disbursement</p>
                            <h2 id="newDate" class="m-0"></h2>
                        </div>
                        <h4 id="payables" class="text-right">BDT <span class="text-bold"></span></h4>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- Middle panel-->

        <div class="row mt-5">
            <div class="col-md-4 content-section">
                <div class="card border-1">
                    <div class="card-header dash-header">
                        <h2 class="m-0">Notice Board</h2>
                    </div>
                    <div class="card-body">
                        <div class="comment-wrapper dash-listing" id="notice-board"></div>
                    </div>
                    <div id="notice-show" class="card-footer text-right">
                        <a href="{% url 'notice_board' %}" class="link-text">Show more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 content-section">
                <div class="card border-1">
                    <div class="card-header dash-header">
                        <h2 class="m-0">Notification</h2>
                    </div>
                    <div class="card-body">
                        <div id="notification-board" class="comment-wrapper dash-listing"></div>
                    </div>
                    <div class="card-footer text-right">
                        <a href="#" class="link-text">Show more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 content-section">
                <div class="card border-1">
                    <div class="card-header dash-header mb-0">
                        <h2 class="m-0">Personal Calender</h2>
                        <p class="text-right">
                        </p>
                    </div>
                    <div id="event-calendar" class="card-body">

                    </div>
                </div>
            </div>
        </div>

        <!-- Salary Chart -->
        <div class="row mt-5">
            <div class="col-md-6 content-section">
                <div class="card border-1">
                    <div class="card-header dash-header">
                        <h2 class="m-0">Salary wise Employees</h2>
                        <p class="text-right">February 2020</p>
                    </div>
                    <div class="card-body">
                        <canvas id="empSalaryChart" width="400px" height="300px"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6 content-section">
                <div class="card border-1">
                    <div class="card-header dash-header">
                        <h2 class="m-0">Employee Count: <span class="cmp-count">0</span></h2>
                        <p class="text-right">Total Active Employee: <span>250</span></p>
                    </div>
                    <div class="card-body">
                        <canvas id="empCountChart" width="400px" height="300px"></canvas>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>




{% endblock %}

{% block script %}
<script src="{% static 'component/js/jquery.simple-calendar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'vendor/chart.js/dist/Chart.min.js' %}" type="text/javascript"></script>
<script src="{% static 'src/js/chart.js' %}" type="text/javascript"></script>

{% endblock %}
