{% extends "layouts/master.html" %}

{% block title %}Early Out Approval > List{% endblock %}

{% block content %}
{% include 'layouts/event.html' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            {% if request.user.is_superuser or 'add_earlyapplication' in permissions %}
            <div class="text-right">
                <a href="{% url 'beehive_admin:attendance:early_out_new' %}" class="btn btn-main m-0">+
                    New Early Out</a>
            </div>
            {% endif %}
        <div class="card">
                <div class="card-header secondary card-box">
                    <div class="card-title">
                        <p>Early out Approval</p>
                        <h2>Early out Approval</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h2>Filter Employees</h2>
            <form method="GET" novalidate class="mw-initial mb-5">
                {% include 'leave/process/layout/search.html' %}
                <div class="col-md-12">
                    <div class="form-group text-right mt-3">
                        <button type="submit" class="btn btn-main">Search Employee</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12">

            <div class="card">
                <div class="card-header secondary card-box">
                    <div class="card-title">
                        <h2>Pending Early Out Applications</h2>
                    </div>
                </div>

                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover" id="datatable">
                                    <thead>
                                        <tr class="selectable">
                                            <th scope="col">Employee Name</th>
                                            <th scope="col">Applied For(Date & Out Time)</th>
                                            <th scope="col">Duration</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if objects %}
                                            {% for obj in early_out_application %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'beehive_admin:attendance:early_approval_form' obj.id %}">
                                                        <p>{{ obj.name }}</p>
                                                        <p>{{ obj.designation.designation.name|default_if_none:'' }}</p>
                                                    </a>
                                                </td>
                                                <td><a href="{% url 'beehive_admin:attendance:early_approval_form' obj.id %}">{{ obj.out_date|date:'d/m/Y' }} {{ obj.out_time|date:'h:i A' }}</a></td>
                                                <td><a href="{% url 'beehive_admin:attendance:early_approval_form' obj.id %}">{{ obj.duration }}</a></td>
                                                <td><a href="{% url 'beehive_admin:attendance:early_approval_form' obj.id %}">{{ obj.status }}</a></td>
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="5">No data found.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                {% if early_out_application.paginator.num_pages > 1 %}
                    <nav aria-label="navigation" class="margin-lg margin-md">
                            <ul class="pagination d-flex justify-content-center">
                                {% if early_out_application.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ early_out_application.previous_page_number }}&{{path}}">Previous</a>
                                    </li>
                                {% endif %}

                                {% for pg in page_range %}
                                    <li class="page-item">
                                        <a class="page-link {% if pg == early_out_application.number %}active{% endif %}" href="?page={{ pg }}&{{path}}">{{ pg }} {{ early_out_application.current_page_number }}</a>
                                    </li>
                                {% endfor %}

                                {% if early_out_application.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ early_out_application.next_page_number }}&{{path}}">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
