<div class="row">
    {% include 'setting/project/phone.html' %}
    {% include 'setting/project/email.html' %}
    {% include 'setting/project/website.html' %}
    {% include 'setting/project/fax.html' %}
    {% include 'setting/project/social_link.html' %}


{#    <div class="form-group w-100 text-right">#}
{#        <a class="btn btn-main b-none" href="{% url 'beehive_admin:setting:project_list' %}">Cancel</a>#}
{#        <a href="javascript:;" class="btn btn-main next-three">Next</a>#}
{#    </div>#}

</div>
